.build-img {
	border-top-left-radius: var(--b-radius);
	border-top-right-radius: var(--b-radius);
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.build-01 {
	background-image: url(../img/houses/01/15002000_PH.jpg);
}

.build-02 {
	background-image: url(../img/houses/02/15003000_PH.jpg);
}

.build-03 {
	background-image: url(../img/houses/03/15004000_PH.jpg);
}

.build-04 {
	background-image: url(../img/houses/04/15005000_PH.jpg);
}

.build-05 {
	background-image: url(../img/houses/05/15006000_PH.jpg);
}

.build-06 {
	background-image: url(../img/houses/06/20002000_PH.jpg);
}

.build-07 {
	background-image: url(../img/houses/07/20002000_2_PH.jpg);
}

.build-08 {
	background-image: url(../img/houses/08/20003000_PH.jpg);
}

.build-09 {
	background-image: url(../img/houses/09/20003000_2_PH.jpg);
}

.build-10 {
	background-image: url(../img/houses/10/20004000_PH.jpg);
}

.build-11 {
	background-image: url(../img/houses/11/20004000_2_PH.jpg);
}

.build-12 {
	background-image: url(../img/houses/12/20004000_3_PH.jpg);
}

.build-13 {
	background-image: url(../img/houses/13/20005000_PH.jpg);
}

.build-14 {
	background-image: url(../img/houses/14/20005000__PH.jpg);
}

.build-15 {
	background-image: url(../img/houses/15/20006000_1_PH.jpg);
}

.build-16 {
	background-image: url(../img/houses/16/20006000_2_PH.jpg);
}

.build-17 {
	background-image: url(../img/houses/17/20006000_3_PH.jpg);
}

.build-18 {
	background-image: url(../img/houses/18/20007000_PH.jpg);
}

.build-19 {
	background-image: url(../img/houses/19/30003000_PH.jpg);
}

.build-20 {
	background-image: url(../img/houses/20/30003000___PH.jpg);
}

.build-21 {
	background-image: url(../img/houses/21/30003000____PH.jpg);
}

.build-22 {
	background-image: url(../img/houses/22/30004000_PH.jpg);
}

.build-23 {
	background-image: url(../img/houses/23/30005000_PH.jpg);
}

.build-24 {
	background-image: url(../img/houses/24/30006000_PH.jpg);
}

.build-25 {
	background-image: url(../img/houses/25/30007000_PH.jpg);
}

.build-26 {
	background-image: url(../img/houses/26/40004000_PH.jpg);
}

.build-27 {
	background-image: url(../img/houses/27/40005000_PH.jpg);
}

.build-28 {
	background-image: url(../img/houses/28/40006000_PH.jpg);
}

.build-29 {
	background-image: url(../img/houses/29/40007000_PH.jpg);
}

/* MODAL CARDS */
/* MODAL CARDS */

.btn {
	border: none;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	padding: 10px;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.modal-overlay::before {
	position: absolute;
	content: '\279D';
	transform: rotate(180deg);
	top: 4px;
	left: 5vw;
	color: #db7254;
	font-size: 3em;
}

.modal-overlay::after {
	position: absolute;
	content: "\002B";
	transform: rotate(45deg);
	top: -18px;
	right: 4vw;
	color: #db7254;
	font-size: 5em;
	font-weight: 100;
}

.modal {
	overflow: scroll;
	background-color: #fff;
	width: 90vw;
	margin-top: 60px;
	padding: 20px;
	display: none;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.img-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.big {
	display: none;
	width: 100%;
	height: auto;
}

.big.visible {
	display: block;
}

.inp-lab-wrap {
	display: flex;
	margin-top: 10px;
	gap: 10px;
}

.pico {
	width: 100px;
	height: auto;
	padding: 0;
	display: block;
}

.inp {
	display: none;
}

.inp:checked + label{
	outline: 1px solid #db7254;
}

.modal-text-cont {
	width: 100%;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
	/* gap: 40px; */
}

.modal-text-row, .modal-text-u, .modal-text-b {
	margin-top: 20px;
}

.modal-text-head {
	font-size: 1.25em;
	font-weight: 700;
}

.modal-text-price {

}

.modal-text-u {
	text-decoration: underline;
	font-weight: 700;
	text-transform: uppercase;
}

.modal-text-row {

}

.modal-text-b {
	font-weight: 700;
}

@media screen and (min-width: 1200px) {
	.modal--visible {
		display: grid;
		grid-template-columns: 45% auto;
		gap: 20px;
	}
}

